WEBSOCKET_ENABLED="true" # Enable WebSocket notifications.
DOMAIN="https://linkwarden.jonnyebinger.de" # Your domain; vaultwarden needs to know it's https to work properly with attachments
ADMIN_TOKEN="averlongtokenthatnooneshouldeversee"
# get these from https://upgrade.yubico.com/getapikey/
YUBICO_CLIENT_ID="000000"
YUBICO_SECRET_KEY="asecretkey"