name: vpn-stack
services:
  delugevpn:
    image: binhex/arch-delugevpn:2.2.0-1-02
    container_name: delugevpn
    cap_add:
      - NET_ADMIN
    ports:
      - 8112:8112
      - 8118:8118
      - 58846:58846
      - 58946:58946
      - 9117:9117 # jackett
      - 7878:7878 # radarr
      - 8989:8989 # sonarr
      - 8686:8686 # lidarr
      - 5055:5055 # jellyseerr
      - 9696:9696 # prowlarr
      - 8191:8191 # flaresolverr
    volumes:
      - /data/docker/media/vpn/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /ext-media/starr-data:/data
    env_file:
      - .env
    dns:
      - 10.0.0.242
      - 1.1.1.1
    privileged: true
    sysctls:
      - "net.ipv4.conf.all.src_valid_mark=1"
    deploy:
      resources:
        limits:
          memory: 2gb
          cpus: 1
    networks:
      - proxy-net
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "sh", "-c", "curl -f http://localhost:8112/ && ! curl -s ifconfig.me --ipv4 | grep -q '^2.'"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 5m
  jackett:
    image: linuxserver/jackett:latest
    container_name: jackett
    network_mode: container:delugevpn
    # user: 1000:1000
    env_file:
      - .rr.env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /ext-media/torrents:/torrents # place where to put .torrent files for manual download
      - /data/docker/media/jackett/config:/config # config files
    restart: unless-stopped
    depends_on:
      delugevpn:
        condition: service_healthy
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    network_mode: container:delugevpn
    # user: 1000:1000
    env_file:
      - .rr.env
    volumes:
      - /data/docker/media/radarr/config:/config
      - /ext-media/starr-data:/data
    restart: unless-stopped
    depends_on:
      delugevpn:
        condition: service_healthy
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    network_mode: container:delugevpn
    # user: 1000:1000
    env_file:
      - .rr.env
    volumes:
      - /data/docker/media/sonarr/config:/config
      - /ext-media/starr-data:/data #optional
    restart: unless-stopped
    depends_on:
      delugevpn:
        condition: service_healthy
  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    network_mode: container:delugevpn
    # user: 1000:1000
    env_file:
      - .rr.env
    volumes:
      - /data/docker/media/lidarr/config:/config
      - /ext-media/starr-data:/data #optional
    restart: unless-stopped
    depends_on:
      delugevpn:
        condition: service_healthy
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    env_file:
      - .rr.env
    network_mode: container:delugevpn
    volumes:
      - /data/docker/media/jellyseerr/config:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped
    depends_on:
      delugevpn:
        condition: service_healthy
  prowlarr:
    container_name: prowlarr
    image: linuxserver/prowlarr
    network_mode: container:delugevpn
    env_file:
      - .rr.env
    volumes:
      - /data/docker/media/prowlarr/config:/config
    restart: unless-stopped
    depends_on:
      delugevpn:
        condition: service_healthy
  flaresolverr:
    container_name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    network_mode: container:delugevpn
    env_file:
      - .rr.env
    volumes:
      - /data/docker/media/flaresolverr/config:/config
    restart: unless-stopped
    depends_on:
      delugevpn:
        condition: service_healthy
networks:
  proxy-net:
    external: true
