services:
  matrix:
    image: matrixdotorg/synapse:latest
    container_name: matrix
    stdin_open: true
    tty: true
    volumes:
        - /data/docker/matrix/data:/data
    ports:
      - 9201:8008
    environment:
        - SYNAPSE_SERVER_NAME=matrix.jonnyebinger.de
        - SYNAPSE_REPORT_STATS=yes
    # command: generate
    networks: 
      proxy-net:
      default:
    restart: always
  syncv3postgres:
    image: postgres:13
    container_name: syncv3postgres
    env_file:
      - ./.env
    volumes:
      - syncv3_postgres:/var/lib/postgresql/data
    healthcheck:
      # https://github.com/peter-evans/docker-compose-healthcheck/issues/16
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s  
    networks:
      proxy-net:
    restart: always
  syncv3:
    image: ghcr.io/matrix-org/sliding-sync:latest
    container_name: syncv3
    depends_on:
      syncv3postgres:
        condition: service_healthy
      matrix:
        condition: service_started
    ports:
      - 9203:${SYNCV3_PORT}
    env_file:
      - ./.env
    networks: 
      proxy-net:
networks:
  proxy-net: 
    external:
      true


volumes:
  syncv3_postgres:
