MODEL='TimeCapsule'
AVAHI_NAME=StorageServer
SAMBA_CONF_LOG_LEVEL=3
# uncomment to enable fail fast (currently only fails fast if there are conflicts/errors during user/group creation)
#FAIL_FAST=1
# uncomment to disable optional services
#WSDD2_DISABLE=1
#AVAHI_DISABLE=1
#NETBIOS_DISABLE=1
GROUP_family=1500
ACCOUNT_home=home
UID_alice=1000
GROUPS_alice=family
# example for hashed password (user: foo | password: bar) - generated using create-hash.sh script.
ACCOUNT_home=""
UID_home=1000
GROUPS_home=home

SAMBA_VOLUME_CONFIG_tv="[TV]; path=/shares/tv; valid users = home; guest ok = yes; read only = yes; browseable = yes"
SAMBA_VOLUME_CONFIG_movies="[Movies]; path=/shares/movies; valid users = home; guest ok = yes; read only = yes; browseable = yes"